.main__content {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.content__paragraph {
    width: 40%;
}

.content__img-wrapper {
    width: 50%;
}

.content__img {
    width: 100%;
    height: 382px;
}